@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: rgb(43, 42, 42);
    --secondary-color: #f7e7ce;
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
